Repository SituDevelopment/entegy-sdk-python, pull requests merged in 2024-03, with the labels that each got.

#159 Chore: Change Poetry Version Constraint Syntax
  poetry.lock
  pyproject.toml
Labels: chore

#156 Feature: Pydantic Models
  entegywrapper/__init__.py
  entegywrapper/attendance_tracking/attendance_tracking.py
  entegywrapper/content/categories.py
  entegywrapper/content/content.py
  entegywrapper/content/multi_link.py
  entegywrapper/points/point_management.py
  entegywrapper/profiles/profile_custom.py
  entegywrapper/profiles/profile_links.py
  entegywrapper/profiles/profile_types.py
  entegywrapper/profiles/profiles.py
  entegywrapper/schemas/attendance_tracking.py
  entegywrapper/schemas/content.py
  entegywrapper/schemas/lead_capture.py
  entegywrapper/schemas/points.py
  entegywrapper/schemas/profile.py
  entegywrapper/schemas/project.py
  entegywrapper/schemas/schedule.py
  poetry.lock
  pyproject.toml
Labels: feature

#160 Correct Poetry use in Publish Workflow
  .github/workflows/publish.yaml
  README.md
  requirements.txt
Labels: bug, documentation, dependencies, python, github_actions

#163 Release on push to `main` with version bump
  .github/workflows/publish.yaml
Labels: feature, github_actions

#170 Replace pip requirements with Poetry
  .github/labeller.yaml
Labels: chore

#171 fix: Profiles.
  entegywrapper/profiles/profiles.py
  pyproject.toml
Labels: bug, dependencies, python

#172 Feature: Better Content Typing
  entegywrapper/schemas/content.py
  entegywrapper/schemas/page_settings.py
  entegywrapper/schemas/points.py
  entegywrapper/schemas/profile.py
  entegywrapper/schemas/project.py
  entegywrapper/schemas/string_keys.py
  pyproject.toml
Labels: feature, dependencies, python

#173 Feature: Release To Github
  .github/workflows/publish.yaml
Labels: feature, github_actions

#174 Make content `pageSettings` optional
  entegywrapper/schemas/content.py
  pyproject.toml
Labels: bug, dependencies, python

#175 Supply GitHub token to CLI-using step
  .github/workflows/publish.yaml
Labels: bug, github_actions

#176 Update publish.yaml
  .github/workflows/publish.yaml
Labels: github_actions, chore

#177 Enable case-insensitive lookup
  entegywrapper/schemas/content.py
  pyproject.toml
Labels: feature, dependencies, python

#178 Correct output
  .github/workflows/publish.yaml
Labels: bug, github_actions

#179 Get Enum value before converting to lowercase
  entegywrapper/schemas/content.py
  pyproject.toml
Labels: bug, dependencies, python

#180 Checkout before releasing
  .github/workflows/publish.yaml
Labels: bug, github_actions

#185 Add better usage instructions to README.md
  README.md
Labels: documentation, chore

#181 Added enum encoding to JSON dumps.
  entegywrapper/__init__.py
  entegywrapper/content/categories.py
  entegywrapper/content/content.py
  entegywrapper/errors.py
  entegywrapper/schemas/content.py
  entegywrapper/schemas/schedule.py
  pyproject.toml
Labels: feature, dependencies, python
