Repository SituDevelopment/entegy-sdk-python, pull requests merged in 2024-06, with the labels that each got.

#223 Utilise Poetry Project Version
  .github/workflows/publish.yaml
  pyproject.toml
Labels: dependencies, python, github_actions, chore

#225 224 Only Update Un Mutated String Content
  entegywrapper/schemas/content.py
  pyproject.toml
Labels: dependencies, python

#230 Update Publish Workflow Permissions
  .github/workflows/publish.yaml
Labels: github_actions, chore
