Repository SituDevelopment/entegy-sdk-python, pull requests merged in 2024-05, with the labels that each got.

#209 fix: Changed profile type attributes to be optional.
  entegywrapper/schemas/profile.py
  pyproject.toml
Labels: dependencies, python

#210 fix: Profile dump.
  entegywrapper/profiles/profile_types.py
  pyproject.toml
Labels: bug, dependencies, python

#211 fix: Made external mappings in custom field optional.
  entegywrapper/schemas/profile.py
  pyproject.toml
Labels: dependencies, python

#212 Bug: -z +s
  entegywrapper/schemas/profile.py
  pyproject.toml
Labels: bug, dependencies, python

#215 Update status-checks.yaml
  .github/workflows/status-checks.yaml
Labels: github_actions, chore

#218 Convert Custom Field Keys to Lowercase
  entegywrapper/schemas/profile.py
  pyproject.toml
Labels: feature, dependencies, python

#219 fix Profile Extended Privacy Schema
  entegywrapper/profiles/profiles.py
  entegywrapper/schemas/content.py
  entegywrapper/schemas/page_settings.py
  entegywrapper/schemas/points.py
  entegywrapper/schemas/profile.py
  entegywrapper/schemas/project.py
  pyproject.toml
Labels: dependencies, python
