Repository SituDevelopment/entegy-sdk-python, pull requests merged in 2024-04, with the labels that each got.

#188 Update as per changes to integro-backend.
  entegywrapper/content/categories.py
  entegywrapper/content/documents.py
  entegywrapper/content/multi_link.py
  entegywrapper/schemas/content.py
Labels: feature

#191 Utilise PAT to release to GitHub
  .github/workflows/publish.yaml
Labels: bug, github_actions

#192 Version bump
  pyproject.toml
Labels: dependencies, python, chore

#193 Create release.yaml
  .github/release.yaml
Labels: chore

#195 Correct release.yaml
  .github/release.yaml
Labels: chore

#196 Ensure profiles are yielded for every page
  entegywrapper/profiles/profiles.py
  pyproject.toml
Labels: bug, dependencies, python

#197 Create py.typed marker
  entegywrapper/py.typed
  pyproject.toml
Labels: dependencies, python, chore

#198 Improved robustness of results and error collection.
  entegywrapper/profiles/profiles.py
  pyproject.toml
Labels: feature, dependencies, python

#202 Bug: Deselect model dump.
  entegywrapper/__init__.py
  entegywrapper/content/categories.py
  entegywrapper/profiles/profiles.py
  pyproject.toml
Labels: bug, dependencies, python

#204 Bug: JSON Encodable Custom Profile Fields
  .devcontainer/devcontainer.json
  entegywrapper/profiles/profile_custom.py
  poetry.lock
  pyproject.toml
Labels: bug, dependencies, python

#205 Default `CustomProfileField.options` to `None`
  entegywrapper/schemas/profile.py
  pyproject.toml
Labels: feature, dependencies, python
